@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


#contacto, #inicio {
    background-image: url("../images/fondo-contacto.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


h1{
    color: #E20000;
    font-size: 36px;
}

P{
    color: #6a6a6a;
    font-size: 16px;
}

li .nav-link{
    color: #6a6a6a;
}

textarea{
    height: 150px;
}

.form-control{
    border-radius: 14px;

}

.btn-blanco{
    background-color: white;
    color: #370a6d;
    border-radius: 14px;
}

.btn-blanco:hover{
    color: white;
    background-color: #370a6d;
}

.btn-rojo{
    background-color: #E20000 !important;
    color: white !important; 
    border-radius: 14px;
}

.btn-rojo:hover{
    color: white;
    background-color: #370a6d !important;
}


.whatsapp{
    position: fixed;
    right: 70px;
    bottom: 0px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fa-whatsapp{
    font-size: 34px;
    color: white;
}

.fa-github{
    font-size: 34px;
    padding-right: 10px;
}

.fa-linkedin-in{
    font-size: 34px;
}

nav .active{
    border: 1px solid #E20000;
    border-radius: 25px;
}

.proyecto h2{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background-color: #E20000;
}

.proyecto p{
    font-size: 14px;
    height: 148px;
}

.proyecto{
    border: 1px solid #eee;
    background-color: white;
}

.proyecto a{
    color: #E20000;
}

.proyecto img{
    height: 208px;
}

@media(max-width:750px){
    #contacto{
        background-image: url("../images/fondo-proyectos.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

#inicio .div-cohete{
    height: 410px;
}#inicio .cohete {
    height: 400px;
}

.btn {
    color: #370a6d;
    background-color: white;
    border-radius: 14px;
}

#inicio .input-home p{
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}
p{
    color: white;
    font-size: 16px;
}

footer .fa-github{
    font-size: 30px;
    color: #ff4a49;
}
footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

footer , footer a{
    color: red;
    font-weight: 100;
}